# Backend API URL (Production: https://api.iformatbranding.com/api/v1 | Local dev: http://localhost:5000/api/v1)
NEXT_PUBLIC_API_URL="https://api.iformatbranding.com/api/v1"

# Stripe Publishable Key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51SfXakLh88m5YuZN4qYky79Zb208qhoKoSCP4ifE9dyuwLva4CAXLxNlcMf5otthkp6S0qbWE1lrAPvtb0pCnNO100Yp8ftyX0"

# Flag to use mock API (must be false in production)
NEXT_PUBLIC_USE_MOCK="false"
